*.pdb
*.dll
**/packages/*
**/sqlite3/*
*/PrecompiledWeb/*
TheVillageCC/.vs/TheVillageCC/v16/Server/sqlite3/storage.ide-wal
TheVillageCC/.vs/TheVillageCC/v16/Server/sqlite3/storage.ide-shm
TheVillageCC/.vs/TheVillageCC/v16/Server/sqlite3/storage.ide
TheVillageCC/.vs/TheVillageCC/v16/.suo
TheVillageCC/.vs/TheVillageCC/config/applicationhost.config
/TheVillageCC/.idea/.idea.TheVillageCC/.idea/.gitignore
/TheVillageCC/.vs/TheVillageCC/v17/.suo
/TheVillageCC/.idea/config/applicationhost.config
/TheVillageCC/.vs/TheVillageCC/v17/fileList.bin
/TheVillageCC/.idea/.idea.TheVillageCC/.idea/indexLayout.xml
/TheVillageCC/.vs/TheVillageCC/project-colors.json
/TheVillageCC/.idea/.idea.TheVillageCC/.idea/vcs.xml
/TheVillageCC/node_modules
