*.pdb
*.dll
**/packages/*
**/sqlite3/*
*/PrecompiledWeb/*
TheVillageCC/.vs/TheVillageCC/v16/Server/sqlite3/storage.ide-wal
TheVillageCC/.vs/TheVillageCC/v16/Server/sqlite3/storage.ide-shm
TheVillageCC/.vs/TheVillageCC/v16/Server/sqlite3/storage.ide
TheVillageCC/.vs/TheVillageCC/v16/.suo
TheVillageCC/.vs/TheVillageCC/config/applicationhost.config
