<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CricketClubAccounts" version="1.0.0-CI-20230717-165531" />
  <package id="CricketClubDAL" version="1.0.0-CI-20230717-165531" />
  <package id="CricketClubDomain" version="1.0.0-CI-20230717-165531" />
  <package id="CricketClubMiddle" version="1.0.0-CI-20230717-165531" />
  <package id="bootstrap" version="5.3.0-alpha1" />
  <package id="bootstrap.sass" version="5.3.0-alpha1" />
  <package id="jqPlot" version="1.0.0-CI-20200228-113051" targetFramework="net472" />
  <package id="log4net" version="2.0.10" targetFramework="net472" />
</packages>