body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}

.circle {
    display: block;
    position: relative;
    padding: 0;
    z-index: 98;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: 0.2s;
    text-align: center;
}

.circle-small {
    height: 30px;
    width: 30px;
    font-size: 10pt;
}

.circle-responsive {
    display: block;
    position: relative;
    padding: 0;
    z-index: 98;
    border-radius: 50%;
    height: auto;
    width: 100%;
    padding-top: 100%;
    transition: 0.2s;
    text-align: center;
}

.circle-button {
    line-height: unset !important;
    font-size: 1em;
}

.circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    white-space: normal !important;
}

    .circle-inner:before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 0;
        height: 100%;
    }

    .circle-inner span {
        vertical-align: middle;
        display: inline-block;
    }
.circle-responsive i {
    font-size: 3em;
}

.circle-large-font {
    font-size: 3em;
}

.team-name {
    font-weight: bold;
    font-size: initial;
    margin-top: 5px;
    position: absolute;
    margin-left: 50px;
}

.team-score {
    font-size: initial;
    margin-top: 4px;
}

.team-row {
    margin: 0px 20px 5px 5px;
}

.ball {
    display: inline-block;
    margin-left: 3px;
    border: solid 1px #4f4f4f;
    color: #4f4f4f
}
.dot {
    border: none;
    background-color: #4f4f4f;
    height: 8px;
    width: 8px;
    margin: 12px 5px 12px 10px;
}

.wicket {
    color: white;
    background-color: red;
    border-color: red;
}

.boundary-ball {
    border-color: var(--f7-color-darkgray);
    color: white;
    background-color: var(--f7-color-darkgray)
}

#wagon-wheel-sheet {
    height: auto !important;
}

.table-row-header {
    padding-bottom: 2px;
    background: #4d4d4d;
    color: white;
    padding-right: 20px;
}

.opacity-40 {
    opacity: 40%;
}

.table-row {
        margin-top: 2px !important;
    border-bottom: solid 1px lightgrey;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 20px;
}

.button-height {
    height: var(--f7-button-height);
    line-height: var(--f7-button-height);
}

.table-container {
    padding: 0;
}

html {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}

.show-five-plus {
    display: none;
}

.flex-container {
    display: flex;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.scorecard-subtitle {
    white-space: nowrap;
}

.scorecard-edit-item {
    padding-right: 0 !important
}

/*
    Removed from F7.css???
*/
:root {
    --f7-color-darkgray: #4d4d4d;
    --f7-color-darkgray-rgb: 77, 77, 77;
    --f7-color-darkgray-shade: #393939;
    --f7-color-darkgray-tint: #616161;
}

.color-darkgray {
    --f7-theme-color: #4d4d4d;
    --f7-theme-color-rgb: 77, 77, 77;
    --f7-theme-color-shade: #393939;
    --f7-theme-color-tint: #616161;
}

.text-color-darkgray {
    --f7-theme-color-text-color: #4d4d4d;
}

.bg-color-darkgray {
    --f7-theme-color-bg-color: #4d4d4d;
}

.border-color-darkgray {
    --f7-theme-color-border-color: #4d4d4d;
}

.ripple-color-darkgray,
.ripple-darkgray {
    --f7-theme-color-ripple-color: rgba(77, 77, 77, 0.3);
}
/*
    end removed section
*/

@media screen and (max-width: 30em) {
    .display-if-over-30em {
        display: none !important;
    }
}