<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CricketClubAccounts" version="1.0.0-CI-20250602-174630" targetFramework="net48" />
  <package id="CricketClubDAL" version="1.0.0-CI-20250602-174630" targetFramework="net48" />
  <package id="CricketClubDomain" version="1.0.0-CI-20250602-174630" targetFramework="net48" />
  <package id="CricketClubMiddle" version="1.0.0-CI-20250602-174630" targetFramework="net48" />
</packages>