#ff_title {
	width: 100%;
	text-align: center;
	clear: both;
}

.ff_leftnav {
	width: 40px;
	float: left;
	height: 300px;
	margin-top: 60px;
}

.ff_center {
	margin-left: 150px;
}

.action_message 
{
    color:Red;
    font-style:italic;
    
}

.league_table 
{
    width: 600px;
}