/* ======================================================================

CSS File -- Created with SAPIEN Technologies PrimalScript 4.1

NAME: chat.css

AUTHOR: Graham , NA
DATE  : 05/03/2007

COMMENT: its a style sheet for the village cc 

====================================================================== */

.comment_info {
	float: left;
	text-align: left;
	padding-right: 5px;
}

.comment_date {
	font-size: 10pt;
}

.comment_time {
	font-size: 8pt;
	font-style: italic;
}

.comment_name {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 10pt;
	font-weight: bold;	
}

.comment_image {
	padding-bottom: 5px;
}

#say_it_button {
	width: 75px;
}

#login_button {
	width: 75px;
}
