body {
  font-family: arial;
   font-size: 10pt;

 }

.small_select {
 font-size: 7pt;
}

.small_input {
  font-size: 7pt;
}

#player_card {
 float: left;
}

#center_space {
 float: left;
 font-size: 8pt;
 text-align: center;
 width: 100%; 
 vertical-align: middle;
}

#computer_card {
 float: left;
}

#computer_card_back {
 float: left;
}

#player_card_photo {
  position: relative;
  bottom: 360px;
  left: 30px;
  z-index: 1;
}

#computer_card_photo {
  position: relative;
  bottom: 360px;
  left: 30px;
  z-index: 1;
}

#vs {
   text-align: center;
   font-size: 30pt;
   vertical-align: middle;
   height: 400px;
   width: 100%;
}

#win {
   text-align: center;
   font-size: 30pt;
   vertical-align: middle;
   height: 400px;
   width: 100%;
}

#lose {
   text-align: center;
   font-size: 30pt;
   vertical-align: middle;
   height: 400px;
   width: 100%;
}

#draw {
   text-align: center;
   font-size: 30pt;
   vertical-align: middle;
   height: 400px;
   width: 100%;
}

#computer_chooses {
   font-size: 15pt;

}